.footer {
    margin-top: 50px;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #eee;
    background-color: #fafafa;
    color: #666;
    font-size: 13px;
}

.footer b {
    color: #333;
}

.footer p {
    margin: 5px 0;
}